{% extends "base.html" %}

{% block posthead %} 
  {% for post in section.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}

  {% for subsection in section.subsections %}
    {% set this_subsection = get_section(path=subsection, metadata_only=true) %}
    
    <a href="{{ this_subsection.path }}">{{ this_subsection.components[1] | safe }}</a>
    
  {% endfor %}

  {{ section.content | safe }}

  <hr><hr><hr><hr>
  
  {% if section.subsections %} <!-- if blog has years -->
  {% for year_number in section.subsections | reverse %} <!-- for each year -->
    {% set year = get_section(path=year_number) %}

    {% if year.subsections %} <!-- if the year has months --> 
      {% for month_number in year.subsections | reverse %}
        <h1>{{ month_number }}</h1>
        {% set month = get_section(path=month_number) %}     
        {% if month.pages %}
          <h2>{{ month.title | date(format="%B %Y")}}</h2> <!-- "title" metadata is YYYY-MM-DD with the DD as 01 -->
          {% for post in month.pages %}
            {{ post_macros::post_preview(post=post) }}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}

  {% endfor %}
{% endif %}

{% endblock content %}
